<section class="postSpace container-fluid">
    <section class="row text-center">
        <div class="col"></div>
        <div class="col-6 titleText h1">{{post.post_title}}</div>
        <div class="col container align-items-center editDiv" id="{{post.id}}">
            <img class="edit-button" src="/images/modify-icon-2.jpg">
            <span style="padding-right: 10xp;"></span>
            <img class="delete-button" src="/images/remove-icon-12.jpg" >
        </div>
    </section>
    <div class="row text-center h4">Created by: {{post.user.username}}</div>
    <div class="row text-center align-items-end" style="padding-top: 10px;">{{post.created_on}}</div>
    <section class="row text-center" style="padding-top: 40px;">{{post.post_content}}</section>
</section>
<script src="/js/post.js"></script>

<section class="container-fluid" style="padding-top: 80px;">
    <section class="col justify-content-start comment-section">
        {{#each comments as |comment|}}
            {{> comment}}
        {{/each}}
        {{> addComment}}
    </section>
</section> 