<section class="postSpace container-fluid">
    <section class="row text-center">
        <div class="col-2"></div>
        <h1 class="col titleText">{{post.post_title}}</h1>
        <div class="col-2 container align-items-center editDiv" id="{{post.id}}">
            <div class=" edit-area py-2">
                <button class="edit-button custom-color-2">
                    <img class="button-image" src="/images/modify-icon-2.jpg">
                    Edit Post
                </button>
                <span style="padding-right: 10xp;"></span>
                <button class="delete-button custom-color-2">
                    <img class="button-image" src="/images/remove-icon-12.jpg" >
                    Delete Post
                </button>
            </div>
        </div>
    </section>
    <h4 class="row text-center">Created by: {{post.user.username}}</h4>
    <div class="row text-center align-items-end" style="padding-top: 10px;">{{post.created_on}}</div>
    <section class="row text-center" style="padding-top: 40px;">{{post.post_content}}</section>
</section>
<script src="/js/post.js"></script>

<section class="container-fluid" style="padding-top: 80px;">
    <section class="col justify-content-start comment-section">
        <h3>Comments:</h3>
        {{#each comments as |comment|}}
            {{> comment}}
        {{/each}}
        {{> addComment}}
    </section>
</section> 